.container {
  width: 100%;
  padding: 20px 20px;
  align-items: flex-start;
}

.films-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: 55px;

  @media (max-width: 1199px) {
    grid-row-gap: 35px;
  }
}
