.realCheckbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.realCheckbox:focus + .custom-checkbox {
  box-shadow: 0px 0px 0px 1px #3857aa, 0px 0px 10px #7e9bbd;
}

.customCheckbox {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 4px;
  margin-right: 6px;
}

.customCheckbox::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(../../assets/img/check.svg);
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: 1px;

  transition: 0.2s ease-in;
}

.realCheckbox:checked + .customCheckbox::before {
  transform: translate(-50%, -50%) scale(1);
}

.label {
  display: flex;
  align-items: center;
}

.form {
  overflow-y: auto;
  margin: 0 0 20px;
}

.form::-webkit-scrollbar {
  width: 10px;
}

.form::-webkit-scrollbar-track {
  background-color: #d2d2d2;
  border-radius: 100px;
}

.form::-webkit-scrollbar-thumb {
  background-color: rgb(134, 134, 134);
  border-radius: 100px;
}


