@import '../../vars';

.container {
  position: relative;
  background-color: #0e0e0e;
  min-height: calc(100vh - $header-height);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.fade {
  padding: 80px 0;
  position: relative;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.8);
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  column-gap: 80px;
  width: 85%;
}

.poster {
  max-width: 350px;
  width: 100%;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 14px;
}
.main-description {
  margin: 0 0 30px;
}

.title {
  margin: 0 0 25px;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.2;
}

.rating {
  margin: 0 0 8px;
}
.description-list {
  margin: auto 0 0;
}

.description-item {
  display: flex;
  border-top: 1px solid #fff;
  padding: 10px 0;

  &:last-child {
    padding: 10px 0 0;
  }
  span {
    max-width: 300px;
    width: 100%;
    font-weight: 800;
  }
}
