.container {
  width: 20%;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  color: #898989;

@media (max-width: 899px) {
  width: 25%;
}
}

.title {
  margin: 0 0 20px;
  font-size: 22px;
  font-weight: 800;

  @media (max-width: 899px) {
    font-size: 20px;
  }
}

.filters-button {
  margin: 0 0 30px;
}

.search-film {
  display: flex;
  column-gap: 16px;
  margin: 0 0 45px;
  font-size: 18px;
  font-weight: 600;

  @media (max-width: 1199px) {
    font-size: 16px;
    line-height: 1.3;
  }
}
