.sort {
  width: 100%;
  margin: 0 0 30px;
}

.sort-container {
  position: relative;
}

.sort-title {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 600;
}

.sort-img {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  fill: #fff;
}

.select-list {
  position: absolute;
  z-index: 9;
  width: 100%;
  margin: 0 0 20px;
  display: none;
  li {
    padding: 12px 15px;
    transition: background-color 0.3s linear;
    cursor: pointer;
  }
  li:hover {
    background-color: #9069ff;
  }
}

.active {
  display: block;
}

.select-list,
.sort-select {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}

.sort-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  padding: 12px 15px;
  cursor: pointer;

  .text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
  }
}
